<div>
    <h1>Estas en la pagina de contactos</h1>
    <h3>Aquí tienes las diferentes opciones en las que puedes contactar con nosotros</h3>
    <ul>
        <li>
            <p>Archivo subido a Firebase: </p>
            <ul>
                <li><a href="https://examen-di-4749d.firebaseapp.com">https://examen-di-4749d.firebaseapp.com</a></li>
            </ul>
        </li>
        <br>
        <li>
            <p>Mi direccion de Git Hub: </p>
            <ul>
                <li><a href="https://github.com/Chisto20?tab=repositories">Repositorios</a></li>
            </ul>
        </li>
        <br>
        <li>
            <p>Mi direccion Email: </p>
            <ul>
                <li><a href="">examenREST_API@desarrollointerfaces.com</a></li>
            </ul>
        </li>
    </ul>
</div>